<!--{{codigosection}}
  <p>funciona essa merda.</p>
<li *ngFor="let item of produtos">{{item.NOME}} - {{item.VALOR}} <a href="{{item.LINK_IMAGEM}}">Imagem</a>  <img src="{{item.ID_IMAGEM}}"/></li>
-->

<!--<form [formGroup]="formulario" (ngSubmit)="onSubmit()" ></form>*ngIf="showinput">-->


<nav class="navbar navbar-expand-lg navbar-light cabecalho">
  <div class="container-fluid">
    <div class="ml">
      <fieldset class="borda_centro">
        <h1>MONARCH</h1>
        
      </fieldset>
    </div>
    
    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </div>
    
    
    <a class="navbar-brand ml_cabecalho" routerLink="/ajuda">Ajuda</a> <a class="navbar-brand ml_cabecalho"> (Aguarde um pouco ao clicar no botão)</a>
    
  
    <div class="ficar_direita ml_cabecalho">
      <form class="d-flex" [formGroup]="formulario" (ngSubmit)="onSubmit(); ">
        <input class="form-control me-2" placeholder="Search" aria-label="Search" type="text" id="inserir_codigo"
          name="inserir_codigo" formControlName="codigo" placeholder="Insira o codigo aqui">
          
        <button class="btn btn-outline-success" type="submit">Search</button>
        
      </form>
    </div>

    
  </div>
  
  
</nav>


<div *ngIf="showinput">
  <input type="text" id="inserir_codigo" name="inserir_codigo" formControlName="codigo"
    placeholder="Insira o codigo aqui">
  <button type="submit">Enviar</button>
</div>

<!--</form>-->

<!--<li *ngFor="let item of items"> {{item.NOME}} - {{item.VALOR}} <a href="{{item.LINK_IMAGEM}}">Imagem</a>  <img src="{{item.ID_IMAGEM}}"/></li>-->


<div class="container-fluid p-0 m-0 mt-4">
  <div class="row p-0 m-0">

    <div class="col-md-0  align-content-md-center">
      <div class="orientacao_pl container-fluid p-0 m-0">
        <ul *ngFor="let item of items">



          <!--CARD-->
          <!--
          <div class="card m-1 cartao" style="width: 18rem;">
            <img src="{{item.ID_IMAGEM}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.NOME}}</h5>
              <div class="d-flex justify-content-center">
                <div class="btn btn-primary w-100">{{item.VALOR}}</div>
              </div>
            </div>
          </div>
          -->
          <!--/CARD-->
          <div class="card m-1 mt-2 cartao" style="width: 18rem;">
            <a href="{{item.ID_IMAGEM}}" target="_blank"><img src="{{item.ID_IMAGEM}}" class="card-img-top"
                alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">{{item.NOME}}</h5>
              <h6 class="card-title">Descrição:</h6>
              <p class="card-text">{{item.DESCRICAO}}</p>
              <br>
              <h6 class="card-title">Contato:</h6>
              <a class="navbar-brand" href="https://api.whatsapp.com/send?phone=+55{{item.CONTATO}}" target="_blank"> {{item.CONTATO}}</a>
              <div class="d-flex justify-content-center">
                <span class="badge bg-primary w-100 tamanho_fonte">{{item.VALOR}}</span>
              </div>
            </div>
          </div>


        </ul>
      </div>
    </div>
  </div>
</div>