.borda_centro
{

    border: 2px red;
    width:97%;
  text-align: center;
  text-shadow: 2px 2px rgb(247, 3, 3);
  /*background-color: blue;*/
  border-color: red;
   
}

.tamanho_fonte
{
  font-size: 20px;
}

.ml
{
  float: center;
    margin-right: 5%;
}
.ml_cabecalho
{
  margin-left: 3%;
}
.cabecalho
{
  background-image: radial-gradient(circle at 50% 50%, #deb887 0, #deb887 50%, #deb887 100%);
}


.orientacao_pl
{
  align-items: center;
  
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  
  
 
}

.cartao
{
  box-shadow: 5px 5px 10px #a3000048;
-webkit-box-shadow: 5px 5px 10px #a3210041;
-moz-box-shadow: 5px 5px 10px #0075a34b;
}

.ficar_direita
{ 
  float: right;
}

.foto_format
{
  height: auto; 
    width: auto; 
    max-width: 286px; 
    max-height: 210px;
}