<!--{{codigosection}}
  <p>funciona essa merda.</p>
<li *ngFor="let item of produtos">{{item.NOME}} - {{item.VALOR}} <a href="{{item.LINK_IMAGEM}}">Imagem</a>  <img src="{{item.ID_IMAGEM}}"/></li>
-->

<!--<form [formGroup]="formulario" (ngSubmit)="onSubmit()" ></form>*ngIf="showinput">-->


<nav class="navbar navbar-expand-lg navbar-light cabecalho">
  <div class="container-fluid">
    <div class="ml">
      <fieldset class="borda_centro">
        <h1>MONARCH</h1>

      </fieldset>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </div>


    <a class="navbar-brand ml_cabecalho"> (Aguarde um pouco após clicar no botão)</a>


    <div class="ficar_direita ml_cabecalho">
      <form class="d-flex" [formGroup]="formulario" (ngSubmit)="onSubmit(); ">
        <input class="form-control me-2" placeholder="Search" aria-label="Search" type="text" id="inserir_codigo"
          name="inserir_codigo" formControlName="codigo" placeholder="Insira o codigo aqui">

        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>
    </div>


  </div>


</nav>



<!--</form>-->

<!--<li *ngFor="let item of items"> {{item.NOME}} - {{item.VALOR}} <a href="{{item.LINK_IMAGEM}}">Imagem</a>  <img src="{{item.ID_IMAGEM}}"/></li>-->


<div class="container-fluid p-0 m-0 mt-4">
  <div class="row p-0 m-0">

    <div class="col-md-0  align-content-md-center">
      <div class="orientacao_pl container-fluid p-0 m-0">
        <ul *ngFor="let item of items">

      
          <div class="card m-1 mt-2 cartao" style="width: 18rem; align-items: center;">
            <a href="{{item.ID_IMAGEM}}" target="_blank"><img src="{{item.ID_IMAGEM}}" class="card-img-top foto_format"
                alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">{{item.NOME}}</h5>
              <h6 class="card-title">Marca:</h6>
              <p class="card-text">{{item.MARCA}}</p>
              <h6 class="card-title">Descrição:</h6>
              <p class="card-text">{{item.DESCRICAO}}</p>
              <br>
              <h6 class="card-title">Contato:</h6>
              <a class="navbar-brand" href="https://api.whatsapp.com/send?phone=+55{{item.CONTATO}}" target="_blank">
                {{item.CONTATO}}</a>
              <div class="d-flex justify-content-center">
                <span class="badge bg-primary w-100 tamanho_fonte">{{item.VALOR}}</span>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showinput" style="word-wrap: break-word;">
  
  <p class="navbar-brand">É só colocar o código que foi passado para você no campo de busca e clique no botão
    ao lado direito escrito "Search".</p>
  <p>Caso o código inserido não funcione mesmo após a breve espera, é porque estamos atualizando o conteúdo ou mudamos o
    códigos (acontece de tempos em tempos).</p>
  <p>Para pegar um novo código, basta entrar em contato. ;)</p>
  <p class="navbar-brand">Aguarde um momento após clicar no botão "Search" na primeira vez!</p>
</div>