<div class="container-fluid cabecalho">
    <div class="sombra" style="text-align: left;">
        <fieldset class="borda_centro">
            <h1></h1>
        </fieldset>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col" style="margin-top: 3%;">
           <p class="navbar-brand">Tem ajuda não irmão. É isso!</p> 
            <br>
            <p class="navbar-brand"> Atenciosamente,</p>
            <br>
            <h1 class="sombra">MONARCH</h1>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<body  class="corpo" style="text-align: center; word-wrap: break-word;">
    <p class="navbar-brand">Brincadeira, só coloca o código que foi passado para você no campo de busca e clique no botão ao lado direito escrito "Search".</p>
    <p>Caso o código inserido não funcione mesmo após a breve espera, é porque estamos atualizando o conteúdo ou mudamos o códigos (acontece de tempos em tempos).</p>
    <p class="navbar-brand">Aguarde um momento após clicar no botão "Search" na primeira vez!</p>
   

</body>