<div class="container-fluid cabecalho">
    <div class="sombra" style="text-align: left;">
        <fieldset class="borda_centro">
            <h1></h1>
        </fieldset>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col" style="margin-top: 3%;">
            Tem ajuda não irmão. É isso!
            <br>
            Atenciosamente,
            <br>
            <h1 class="sombra">MONARCH</h1>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<body  class="corpo" style="text-align: center;">
    <p>Brincadeira, só coloca o código que foi passado para você no campo de busca e clique no botão ao lado direito escrito "Search".</p>
    <div class="div_voltar">
    <a href="/"><button >Voltar</button></a>
    <div style="margin-top: 1%">
    <p>Clique no botão para voltar</p>
    </div>
    </div>


</body>